

.body-subtitle.projects {
    text-align: center;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.projects-minitext {
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    font-weight: lighter;
}

.project-click {
    margin: auto;
    /* display: flex;
    flex-direction: column; */
    height: 25vw;
}

.project-control {
    height: 10px;
    width: 100%;
    position: relative;
    background: none;
	border: none;
    outline: none;
    font-size: 5vw;
}