

.body-subtitle.projects {
    text-align: center;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-display {
    margin: auto;
}