

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.body-subtitle.work {
    text-align: center;
}

.work-list {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.work-experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2vw;
    width: 100%;

}
.work-experience-body, .work-experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
}

.work-experience-header {
    align-items: flex-end;
}

.work-experience-body {
    align-items: flex-start;
}


.work-experience-company {
    font-size: clamp(1.1rem, 1vw + 0.7rem, 2.2rem);
}

.work-experience-dates {
    font-size: clamp(0.85rem, 0.7vw + 0.6rem, 1.6rem);
    font-weight: lighter;
}

.work-experience-position {
    font-size: clamp(0.95rem, 0.8vw + 0.7rem, 1.8rem);
    font-weight: lighter;
}

.work-experience-desc {
    font-size: clamp(0.85rem, 0.7vw + 0.6rem, 1.45rem);
    max-width: 45%;
    text-wrap: wrap;
    text-align: right;
    text-justify: inter-word;
}