

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.body-subtitle.work {
    text-align: center;
}

.work-list {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.work-experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    width: 100%;

}
.work-experience-body, .work-experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
}

.work-experience-header {
    align-items: flex-end;
}

.work-experience-body {
    align-items: flex-start;
}


.work-experience-company {
    font-size: 2.5vw;
}

.work-experience-dates {
    font-size: 1.5vw;
    font-weight: lighter;
}

.work-experience-position {
    font-size: 2.5vw;
    font-weight: lighter;
}

.work-experience-desc {
    font-size: 1.3vw;
    max-width: 45%;
    text-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
}