.header-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.header-name, .header-mail {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
}

.header-name {
    font-size: 50px;
    font-weight: lighter;
}

.header-mail {
    font-size: 20px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

.header-iconlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}