
.intro-container { 
    position: relative;
    height: 60vw;
    text-align: center;
    overflow: hidden;
}

.intro-background-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-background-image {
    width: 130vw;
    position: relative;
    top: 0vw;
    left: 0vw;
}

.intro-name-container {
    margin-top: 20vw;
}

.intro-subtitle {
    color: white;
    font-size: 30px;
}

.intro-name {
    font-size: 100px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
}
